.color-gry {
  color: #c7c2c2 !important;
}

.m-b-5-title {
  margin-bottom: 5px !important;
}

.border-right {
  border-right: 1px solid rgb(235 231 231);
}
.p-right-parag {
  padding-right: 80px;
}
@media (max-width: 1024px) {
  .border-right {
    border-right: none;
    text-align: center;
  }
  .m-bottom-small {
    margin-bottom: 40px !important;
  }
  .p-right-parag {
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-bottom-box-image {
    margin-bottom: 20px;
  }
}
