.ui.form .fields .wide.field {
  padding-left: 0px !important ;
  padding-right: 0px !important ;
}

.input-domain {
  width: 90%;
}
.col-padding {
  padding: 20px !important;
}
.width-row {
  width: 90% !important;
}
.parent-box {
  display: flex;
  justify-content: center;
}
.box-width {
  width: 90%;
  border: 1px solid #d4d4d5;
  padding: 20px;
}
.padding-row {
  padding-top: 10px !important;
}
.info::before {
  content: '';
  position: absolute;
  top: -2%;
  left: 5%; /* <-- put left edge in the middle */
  margin-left: 0%; /* <-- shift to the left by half of the width */
  width: 90%;
  height: 1px;
  background: #d4d4d5;
}
.ui.celled.grid > .row {
  box-shadow: none !important;
}
@media (max-width: 767px) {
  .input-domain {
    width: 100%;
  }
  .drop-down-padding-small {
    padding: 0.78571429em 0.4em 0.78571429em 1em !important;
  }
  .width-row,
  .box-width {
    width: 100% !important;
  }
  .ui.celled.grid > .row,
  .ui.celled.grid > .row > .column {
    box-shadow: none !important;
  }
  .info::before {
    display: none;
  }
}
