.headerContent {
  text-align: center;
  color: #fff;
  height: 75%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.italic-title {
  font-style: italic;
}
.italic-title-small {
  font-size: 2rem;
}
.italic-title-big {
  font-size: 2.5rem;
  line-height: 1.5rem;
}
.overly {
  /* position: fixed; */
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: 20px 80px;
}

.text-center {
  text-align: center;
}

.reg-login {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: emoji;
  padding: 20px;
}
.register {
  background-color: #22b168;
}
.login {
  background-color: #052c2ca8;
}

.ui.grid > .row > .column {
  padding: 0px !important;
}
