.white {
  color: #fff !important;
}

.grey {
  color: #8f8f8f !important;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid #8f8f8f73 !important;
}
.ui.secondary.pointing.menu .active.item {
  border-color: #bbbbbb !important;
  color: #a73232 !important;
}

.ui.secondary.pointing.menu .item {
  padding-bottom: 30px !important;
}

.navbar {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 3rem !important;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: #969ba0;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding-bottom: 30px;
}
.width-full {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .ui.secondary.pointing.menu {
    border-bottom: none !important;
  }
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 64px;
    left: -100%;
    transition: 0.5s all;
    padding: 20px !important;
    grid-gap: unset !important;
    z-index: 1000;
  }

  .nav-links.active {
    background: #0b074afc;
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
    width: 100%;
    text-align: -webkit-center !important;
  }

  .nav-icon {
    display: flex;
  }
}
