.center {
  text-align: center;
}
.carousel-dots li.carousel-dots-active button:before {
  opacity: 1 !important;
  color: #fff !important;
}

.white-color,
.carousel-dots li button:before {
  color: #fff !important;
}

@media (max-width: 767px) {
  .hidden {
    display: none !important;
  }
  .center-small {
    padding-top: 3.5rem !important;
  }
}
