.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui.list {
  margin-top: 0px !important;
}
.flex {
  display: flex !important;
}
.m-right-5 {
  margin-right: 5px !important;
}
.m-right-10 {
  margin-right: 10px !important;
}
.padding-contact {
  padding-left: 1.8rem !important;
}
@media (max-width: 767px) {
  .footer-header {
    display: block !important;
    padding: 0rem !important;
  }

  .padding-small,
  .padding-contact {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.box-shadow-hidden {
  box-shadow: none !important;
}
