/* .ui.grid {
  margin: 0rem !important;
} */

/* body {
  width: 100vh !important;
} */

html,
body,
.App,
#root,
body ::-webkit-scrollbar {
  height: 100% !important;
}

body {
  margin: 0px !important;
}

.ui.grid > .row {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.ui.grid {
  margin: 0px !important;
}
.ui.grid > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
